<body>
  <section class="intro">
    <div class="bg-image h-100">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card shadow-2-strong">
                <div class="card-body p-0">
                  <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                    style="position: relative; height: 700px">
                    <caption><h1 class="bg-white mb-0" style="text-align: center;"><img src="img/logo_sea.svg"></h1></caption>
                    <table class="table table-info table-hover mb-0">
                      <thead>
                        <tr>
                          <th class="text-primary" scope="col">번호</th>
                          <th class="text-primary" scope="col">사고 시각</th>
                          <th class="text-primary" scope="col">선박명</th>
                          <th class="text-primary" scope="col">위치</th>
                          <th class="text-primary" scope="col">비고</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (let i=0; i < data.length; i++) { %>
                          <tr>
                            <td>
                              <%= i+1 %>
                            </td>
                            <td>
                              <%= formatDateTime(data[i].datatime) %>
                            </td>
                            <td>
                              <%= data[i].ship_name %>
                            </td>
                            <td>
                              <%= data[i].location %>
                            </td>
                            <td>
                              <%= data[i].etc %>
                            </td>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>