<body>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    
    <!-- 제목 -->
    <h1 id="title">사고기록 확인</h1>
    
    <!-- 테이블 -->
    <table>
      <thead>
        <tr>
          <th>번호</th>
          <th>사고 시각</th>
          <th>선박명</th>
          <th>위치</th>
          <th>비고</th>
        </tr>
      </thead>
      <tbody>
        <!-- 테이블 내용 추가 -->
        <% for (let i = 0; i < data.length; i++) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= data[i].time %></td>
            <td><%= data[i].name %></td>
            <td><%= data[i].location %></td>
            <td><%= data[i].stage %></td>
            <td><%= data[i].etc %></td>
          </tr> 
        <% } %>
    
      </tbody>
    
    </table>
    </body>