<body>    
    <!-- 제목 -->
    <h1 id="title"><%= title %></h1>
    
    <!-- 테이블 -->
    <table>
      <thead>
        <tr>
          <th>번호</th>
          <th>사고 시각</th>
          <th>선박명</th>
          <th>위치</th>
          <th>위험 단계</th>
        </tr>
      </thead>
      <tbody>
        <!-- 테이블 내용 추가 -->
        <% for (let i = 0; i < data.length; i++) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= formatDateTime(data[i].datatime) %></td>
            <td><%= data[i].ship_name %></td>
            <td><%= data[i].location %></td>
            <td><%= data[i].stage %></td>
          </tr> 
        <% } %>
    
      </tbody>
    
    </table>
    </body>