<body>
<script src="https://unpkg.com/htmx.org@1.9.5"></script>
<!-- 로그아웃 버튼 -->
<a hx-post="/logout" class="logout-btn">로그아웃</a>

<!-- 선박관제 시스템 제목 -->
<h1 id="title">선박관제 시스템</h1>

<!-- 테이블 -->
<table style="border-collapse: collapse;">
  <thead>
    <tr>
      <th>번호</th>
      <th>선박명</th>
      <th>위치</th>
      <th>단계</th>
      <th>제어</th>
    </tr>
  </thead>
  <tbody>
    <!-- 테이블 내용 추가 -->
    <% for (let i = 0; i < ships.length; i++) { %>
      <tr>
        <td><%= i+1 %></td>
        <td id="sname"><%= ships[i].ship_name %></td>
        <td><%= ships[i].location %></td>
        <td><%= ships[i].stage %></td>
        <td><a href="/control?param=<%- ships[i].ship_name %>">관제</a></td>
      </tr>
    <% } %>

  </tbody>
</table>
</body>